<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="=Content-Type" context="text/html; charset=UTF-8"/>
    <title>Facturas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container mt-4">
    <label>Servicios</label>
    <table class="table">
        <thead class="table">
        <tr>
            <th>Numero Factura</th>
            <th>Productos</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="actual:${facturasServico}">
            <td th:text="${actual.getNumero_factura_atencion()}"></td>
            <td th:text="${actual.getProductosByName()}"></td>
        </tr>
        </tbody>
    </table>
    <label>Productos</label>
    <table class="table">
        <thead class="table">
        <tr>
            <th>Numero Factura</th>
            <th>Productos</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="actual:${facturasCompra}">
            <td th:text="${actual.getNumero_factura_compra()}"></td>
            <td th:text="${actual.getProductosByName()}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/">
        <button>incio</button>
    </a>
</div>
</body>
</html>